html,body
{
    margin:0;
    height:100%;    
    font-family: 'ASAP', sans-serif;
    font-weight: 400;
    
    width:100%;
    height:100%;
    margin-bottom:0;
    margin-top:0;
    background-color: #DFE0E2;
    /* Chrome 10+ */ background: -webkit-linear-gradient(left, #DFE0E2,#ffffff,#ffffff, #ffffff, #DFE0E2); 
    /* Firefox 3.6+ */ background: -moz-linear-gradient(left, #DFE0E2, #ffffff,#ffffff,#ffffff, #DFE0E2); 
    /* IE 10 */ background: -ms-linear-gradient(left, #DFE0E2, #ffffff,#ffffff,#ffffff, #DFE0E2); 
    background: linear-gradient(left, #DFE0E2, #ffffff, #ffffff,#ffffff, #DFE0E2); 
    background-repeat: repeat;
}

h1,h2,h3,h4,h5
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

select
{
    width:100%;
}

.date-row td
{
   vertical-align:top;
   border:1px #888888 solid;
}

.formTable
{
    border:0;
}

#logo
{
    box-shadow: 2px 2px 5px rgb(136, 136, 136);
    /*display: inline;*/
    float: left;
    margin-top: -40px;
}

#userbar
{
    float:right;
    background-color: rgb(155, 187, 234);
    padding: 5px;
    border-radius: 0 0 5px 5px;   
}

.floatreset
{
    clear:both;
}

.bodywrap
{
    margin-left:10%;
    margin-right:10%;
}

.widget
{
    width:100%;
}

.calTable
{
    min-width:80%;
    max-width:960px;
    min-height:250px;
    margin:auto;
    border:1px #888888 solid;
}

.cal-popup
{
    padding: 5px;
    background-color: #E6EEF9;
    border-radius: 5px;
}

.login-form-container
{
    margin:auto;
    min-width: 50%;
    height: 50%; 
    padding: 20px;
    background-color: rgb(155, 187, 234);
    border-radius: 15px;
    text-align:center;
}

.centered
{
    margin: auto;
    text-align: center;
}

.dayNumbers
{
   text-align:left;
   margin:3px;
   height:14px;
}

.newCalcBtn
{
    text-align:left;
    margin-left: 10%;
}

.header-row
{
    clear:both;
    height:20px;
    max-width:960px;
    width:100%;
    margin:auto;
    outline:1px #888888 solid;
}

.day-header
{
    float:left;
    width:14%;
    height:100%;
    text-align:center;
}

.date-row
{
    clear:both;
    width:100%;
    table-layout:fixed;
    border:1px #888888 solid;
}

.day-value
{
    height:100px;
}

.saturday-value
{
    height:100px;
}

.appointments
{
    height:76px;
    overflow:auto;
}

.appointments div:nth-child(odd)
{
    background-color:#BFE0E2;
}

.appointments div:nth-child(even)
{
    background-color:#8FE0E2;
}

.form
{
    border-radius: 5px;
    border: 1px #888888 solid;
    
    max-width: 50%;
    
    padding: 5px;
    margin: 5px;
    
    background-color:#ffffff;
    
}

.bold
{
    font-weight:bold;
}

.currentMonthDiv
{
    display:inline;
    font-size:large;
    font-weight:bold;
    margin-bottom:20px;
}

#contacts-search
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size:large;
}
