html,body
{
    margin:0;
    height:100%;    
    font-family: 'ASAP', sans-serif;
    font-weight: 400;
    
    width:100%;
    height:100%;
    margin-bottom:0;
    margin-top:0;
    background-color: #DFE0E2;
    /* Chrome 10+ */ background: -webkit-linear-gradient(left, #DFE0E2,#ffffff,#ffffff, #ffffff, #DFE0E2); 
    /* Firefox 3.6+ */ background: -moz-linear-gradient(left, #DFE0E2, #ffffff,#ffffff,#ffffff, #DFE0E2); 
    /* IE 10 */ background: -ms-linear-gradient(left, #DFE0E2, #ffffff,#ffffff,#ffffff, #DFE0E2); 
    background: linear-gradient(left, #DFE0E2, #ffffff, #ffffff,#ffffff, #DFE0E2); 
    background-repeat: repeat;
}

h1,h2,h3,h4,h5
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

select
{
    width:100%;
}

td
{
   vertical-align:top;
}

#logo
{
    box-shadow: 2px 2px 5px rgb(136, 136, 136);
    /*display: inline;*/
    float: left;
    margin-top: -40px;
}

#userbar
{
    float:right;
    background-color: rgb(155, 187, 234);
    padding: 5px;
    border-radius: 0 0 5px 5px;   
}

.floatreset
{
    clear:both;
}

.bodywrap
{
    margin-left:10%;
    margin-right:10%;
}

.widget
{
    width:100%;
}

.calTable
{
    border-spacing: 0px;
    empty-cells:show;
    min-width:80%;
    max-width:960px;
    min-height:250px;
    margin:auto;
    border-color: #dddddd;
}

.cal-popup
{
    padding: 5px;
    background-color: #E6EEF9;
    border-radius: 5px;
}

.login-form-container
{
    margin:auto;
    min-width: 50%;
    height: 50%; 
    padding: 20px;
    background-color: rgb(155, 187, 234);
    border-radius: 15px;
    text-align:center;
}

.centered
{
    margin: auto;
    text-align: center;
}

.dayNumbers
{
   text-align:left;
}

.newCalcBtn
{
    text-align:left;
    margin-left: 10%;
}

.contact-search-result
{
    margin: 5px;
    padding: 5px;
    border: 1px #888888 solid;
    background-color:white;
    border-radius: 5px;
    max-width: 30em;
}

.form
{
    border-radius: 5px;
    border: 1px #888888 solid;
    
    padding: 5px;
    margin: 5px;
    
    background-color:#ffffff;
    
    width: 15em;
}
.contact-name
{
    font-weight:bold;
}
